@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Color Scheme modified from this theme: http://www.colourlovers.com/palette/223950/Blind_Colors
$cream: rgb(252,245,237);
$dkBrown: rgb(17,5,4);
$brown: rgb(58,18,12);
$teal: rgb(24,84,89);
$ltTeal: rgb(164,200,198);
$blockquoteColor: lighten($dkBrown,28);

$header-font: "oswald", "Helvetica", Helvetica, Arial, sans-serif !default;
$body-font: "notosans", "Helvetica", Helvetica, Arial, sans-serif !default;

body,html{
  background-color: $cream;
  color: $dkBrown;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, .top-bar .name p {
  color: $brown;
  font-family: $header-font;
}

/* general */

h1 {
  margin: 10px 0 20px 0;
  font-size: 2.125rem;
}

h2 {
  font-size: 1.80rem;
}

h2.bump {
  margin: 10px 0 50px 0;
}

h4 {
  margin: 0 0 30px 0;
  font-size: 1.2rem;
}

img {
  margin: 4px 0 20px 0;
}

img.inline-wrap, img.inline-wrap-large{
  margin: 4px 20px 20px 0;
}

img.inline-wrap-right{
  margin: 4px 0 20px 20px;
}

blockquote {
  border:none;
  color:$blockquoteColor !important;
}

a {
  color: $teal;
  font-weight:bold;
}

a:hover{
  color: lighten($teal,20%);
}

ul.indented li {
  margin-left: 20px;
}

ul.bump{
  margin: 20px 0 0 0;
}

ul.no-decor{
  list-style-type: none;
}

/* header */
.top-bar .name h1 {
  line-height:40px;
}

.top-bar .name p {
  a {padding: 0 23.33333px;}
}

@media only screen and (min-width: 1em){
}

@media only screen and (min-width: 40.063em){

    img.inline-wrap{
        display: inline-block !important;
        float:left;
    }
    img.inline-wrap-right{
      float:right;
    }
}


@media only screen and (min-width: 64.063em){

    img.inline-wrap-large{
        display: inline-block !important;
        float:left;
    }
}