@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



/* general */

h1 {
  margin: 10px 0 20px 0;
  font-size: 2.125rem;
}

h2 {
  font-size: 1.80rem;
}

h2.bump {
  margin: 10px 0 50px 0;
}

h4 {
  margin: 0 0 30px 0;
  font-size: 1.2rem;
}

img {
  margin: 4px 0 20px 0;
}

img.inline-wrap, img.inline-wrap-large{
  margin: 4px 20px 20px 0;
}

img.inline-wrap-right{
  margin: 4px 0 20px 20px;
}

blockquote {
  border:none;
  color:$blockquoteColor !important;
}

a {
  color: $teal;
  font-weight:bold;
}

a:hover{
  color: lighten($teal,20%);
}

ul.indented li {
  margin-left: 20px;
}

ul.bump{
  margin: 20px 0 0 0;
}

ul.no-decor{
  list-style-type: none;
}

/* header */
.top-bar {
  .name{
    h1 {
      line-height: 20px;
      margin: 18px 0 0 0;
    }
    p {
      display:none; // don't display for mobile
      font-family: $header-font;
      color:$cream;
      font-weight: normal;
      a {padding: 0 23.33333px;}
    }
  }
  .toggle-topbar.menu-icon {
    top: 25%;
  }
  
}
.top-bar.expanded, .top-bar.expanded .toggle-topbar a{background:$teal; color:$cream;}

.top-bar-section, ul.right{
  li a{
    font-family:$header-font;
    color:$cream;      
    background: darken($teal,12%);    
    font-size:.95rem;
  }
  .dropdown li a:hover, li.has-dropdown a:hover, .dropdown li.title h5 a:hover, .dropdown li.parent-link a:hover{
    background:darken($teal,8%);
  }
  
}


@media only screen and (min-width: 24.250em){ // point at which header line wraps
  .top-bar .name h1 {
    line-height:40px;
  }
}


@media only screen and (min-width: 40.063em){

  .top-bar {
    .name p {
      display:block;
    }
   .toggle-topbar.menu-icon {
      top: 25%;
    }
  }
    img.inline-wrap{
        display: inline-block !important;
        float:left;
    }
    img.inline-wrap-right{
      float:right;
    }
}


@media only screen and (min-width: 64.063em){

    img.inline-wrap-large{
        display: inline-block !important;
        float:left;
    }
}