@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Color Scheme modified from this theme: http://www.colourlovers.com/palette/223950/Blind_Colors
$cream: rgb(252,245,237);
$dkBrown: rgb(17,5,4);
$brown: rgb(58,18,12);
$teal: rgb(24,84,89);
$ltTeal: rgb(164,200,198);

$header-font: "oswald", "Helvetica", Helvetica, Arial, sans-serif !default;
$body-font: "notosans", "Helvetica", Helvetica, Arial, sans-serif !default;

body,html{
  background-color: $cream;
  color: $dkBrown;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  color: $brown;
  font-family: $header-font;
}

/* header */

.top-bar .name h1 a {
  margin:10px 0 0 0;  
  line-height: 24px;
}
p.header a{
  padding: 0 0 0 15px;
}

.top-bar-section ul li a:hover, .top-bar .name h1 a:hover, p.header a:hover{
  color:darken($cream,10%);
}
// stretch header to fit second line
.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
  background: $teal;
  height:70px;
  line-height: 70px;
  border-bottom: 8px solid $ltTeal;
}

.top-bar-section ul li > a, p.header a, .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button)  {
  color: $cream;
  font-family: $header-font;    
  background: $teal;
}

.top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button):hover {
  background: darken($teal,10%);
}

nav.top-bar{
  margin: 0 0 30px 0;
}

// reset interior menu
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  line-height:45px;
  height: 45px;
  border:none;
  margin:0;
}

.top-bar-section ul li {
  background: $teal;
}

/* general */

h1 {
  margin: 10px 0 20px 0;
  font-size: 2.125rem;
}

img.inline-wrap{
    margin: 4px 20px 10px 0;
} 

@media only screen and (min-width: 40.063em){
    img.inline-wrap{
        display: inline-block !important;
        float:left;
    }
}

